{
  "rules": {
    "no-console": 0,
    "arrow-body-style": [
      "error",
      "always"
    ],
    "new-cap": [
      "error",
      {
        "properties": false
      }
    ],
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ],
    "no-plusplus": 0,
    "no-underscore-dangle": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jquery": true,
    "mocha": true
  },
  "globals": {
    "Handlebars": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "babel-eslint"
}
