<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title>Ezhil Chit Softwaresssss</title>

    <!-- Setting the right viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="description" content="Olumiant treats RA patients who insufficiently or intolerantly respond to conventional DMARDs. Sign up for an e-learning experience to view clinical data!" />
    <meta name="keywords" content="Olumiant, baricitinib, JAK inhibitor, JAK 1, JAK 2, rheumatoid arthritis, RA treatment, e-learning, methotrexate, mtx, DMARD" />
    <meta name="robots" content="nocache,noarchive,noindex,nofollow"/>
	
	<base href="/">

    <script src="vendor/scripts/jquery-3.2.1.min.js"></script>
    <script src="vendor/scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/css/master.css">
    <!--[if gte IE 8]>
        <link rel="stylesheet" type="text/css" href="vendor/styles/IE.css" />
    <![endif]-->
   
     
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="img/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="img/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="img/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="img/favicon/mstile-310x310.png" />

</head>
<body>

    <div id="app">Loading...</div>

    <script src="js/bundle.js"></script>
</body>
</html>
